:root {
  background-color: white;
  color: #ff0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

img {
  float: right;
}

.further-articles {
  margin: 80px auto;
  max-width: 800px;
  padding: 0 20px;
  box-sizing: border-box;
}
.further-articles h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.further-articles ul {
  list-style-type: none;
}
.further-articles li {
  margin-bottom: 10px;
}
.further-articles a {
  color: inherit;
  text-decoration: none;
}
.further-articles a:hover {
  text-decoration: underline;
}
